.editor-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #020617;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.editor-header select {
  background: #020617;
  color: white;
  border: 1px solid #1e293b;
  padding: 6px;
}

.editor-actions button {
  margin-left: 8px;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.run-btn {
  background: #1e40af;
  color: white;
}

.submit-btn {
  background: #16a34a;
  color: white;
}

.submission-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.submission-table th,
.submission-table td{
    padding: 12px 18px;
    text-align: left;
    border-bottom: 1px solid #333;
}

.submission-table th{
    font-weight: 600;
    color: white;
}

.submission-table td{
    color: #ddd;
}

.submission-table tbody tr:hover{
    background-color: #1a1a1a;
}