.footer{
  width:100%;
  background:#020617;
  border-top:1px solid #1e293b;
  margin-top:80px;
}

.footer-container{
  max-width:1300px;
  margin:auto;

  padding:18px 24px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.footer-logo{
  font-weight:700;
  font-size:18px;
  color:#22c55e;
  cursor:pointer;

  display:flex;
  align-items:center;
  gap:6px;
}

.footer-logo span{
  color:white;
}

.footer-text{
  color:#94a3b8;
  font-size:14px;
}